<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>제품 리스트</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/getProducts.js"></script>
</head>
<body>

<div class="productListBox">
  <a href="/api/products">
    <h1>제품 리스트</h1>
  </a>
  <img src="/add.png" alt="add" style="width:100px;height: auto" onclick="addProductRow(this)">
</div>
<table id="productTable">
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Price</th>
    <th>ImageUrl</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="product : ${productList}" th:attr="data-id=${product.id}">
    <td th:text="${product.id}" class="productId">1</td>
    <td th:text="${product.name}" class="productName">Product Name</td>
    <td th:text="${product.price}" class="productPrice">1000</td>
    <td class="productImage">
      <img th:src="${product.imageUrl}" alt="Image" style="width:100px;height:auto;">
    </td>
    <td>
      <img th:src="@{/edit.png}" alt="edit" style="width:100px;height: auto"
           onclick="editProductRow(this)">
    </td>
    <td>
      <img th:src="@{/remove.png}" alt="remove" style="width:100px;height: auto"
           onclick="removeProductRow(this)">
    </td>
  </tr>
  </tbody>
</table>

</body>
</html>
